<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.movies11.sqlMapper.MovieMapper">
    <!-- GET all -->
    <select id="getAllMovies" resultType="com.movie.movies11.models.Movie">
        SELECT *
        FROM movies
    </select>

    <!-- GET one -->
    <select id="getOneMovieById" resultType="com.movie.movies11.models.Movie"
            parameterType="com.movie.movies11.models.Movie">
        SELECT *
        FROM movies
        WHERE id = #{movieId}
    </select>

    <!-- GET movies by id or title -->
    <select id="getMovies" resultType="com.movie.movies11.models.Movie">
        SELECT *
        FROM movies
        WHERE id = #{id}
           OR title = #{title}
    </select>

    <update id="addExtraProperties" parameterType="com.movie.movies11.models.Movie">
        UPDATE movies
        <set>
            image_path = #{imagePath},
            language = #{language},
            genre = #{genre},
            overview = #{overview}
        </set>
        WHERE id = #{id}
    </update>
</mapper>