<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.movies11.sqlMapper.PeopleMapper">
    <!-- GET All people -->
    <select id="getAllPeople" resultType="com.movie.movies11.models.People">
        SELECT *
        FROM people
    </select>

    <!-- GET people by id and name -->
    <select id="getPeople" resultType="com.movie.movies11.models.People" parameterType="com.movie.movies11.models.People">
        SELECT *
        FROM people
        WHERE id = #{id} OR name = #{name}
    </select>

    <!-- GET director by movie title -->
    <select id="getDirectorByTitle" resultType="com.movie.movies11.models.People">
        SELECT people.id, people.name, people.birth
        FROM directors,
             people,
             movies
        WHERE directors.person_id = people.id
          AND directors.movie_id = movies.id
          AND movies.title = #{movieName}
    </select>

    <!-- GET director by movie id -->
    <select id="getDirectorById" resultType="com.movie.movies11.models.People">
        SELECT people.id, people.name, people.birth
        FROM directors,
        people,
        movies
        WHERE directors.person_id = people.id
        AND directors.movie_id = movies.id
        AND movies.id = #{movieId}
    </select>

    <!-- GET actor by movie -->
    <select id="getActorsByMovie" resultType="com.movie.movies11.models.People">
        select people.id, people.name, people.birth
        from stars, people, movies
        where stars.person_id = people.id
          and stars.movie_id = movies.id
          and movies.title = 'The Girls from Thunder Strip'
    </select>
</mapper>