<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.movies11.sqlMapper.UserMapper">
    <!-- get a user -->
    <select id="getAUser" resultType="com.movie.movies11.models.User">
        select *
        from "user"
        where userId = #{userId} or username = #{username}
    </select>

    <!-- add a user -->
    <insert id="addAUser" parameterType="com.movie.movies11.models.User">
        insert into "user" (username, password) VALUES (#{username}, #{password})
    </insert>

    <!-- update user info except movie list -->
    <update id="updateAUser" parameterType="com.movie.movies11.models.User">
        update "user"
        <set>
            username = #{username},
            password = #{password}
        </set>
        where userId = #{userId} or username = #{username}
    </update>

    <!-- get the movie list by user -->
    <select id="getFavouriteList" resultType="com.movie.movies11.models.Movie">
        select m.id, m.title, m.year
        from favourite_movie fm, movies m
        where fm.userId = #{userId} and fm.movieId = m.id;
    </select>

    <!-- add movies into list -->
    <insert id="addFMovieList" parameterType="com.movie.movies11.models.Movie">
        insert into favourite_movie (userId, movieId) VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{userId},
            #{movieId},
        </trim>
    </insert>
</mapper>